@import url("//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css");
@import "~react-input-range/lib/css/index.css";

/* Interval Slider */
.interval-range {
  margin: 5px 5px 2em;
}
.input-range__label {
  color: #000e0e;
}
.input-range__track {
  background: #cecece;
}
.input-range__track--active {
  background: #0079bf;
}
.input-range__slider {
  background-color: #0079bf;
  border-color: #003555;
}

.main-container {
  -webkit-box-align: top;
  -webkit-justify-content: center;
  align-items: top;
  background-color: #ffffff;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.sub-menu {
  background-color: #ffffff;
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 5px;
  width: 100%;
}

.chord-chart {
  font-size: 10px;
}

.sankey-chart {
  font-size: 10px;
}

.fullheight {
  height: 100%;
}

.background {
  background-color: #f7f7f8;
  height: 100%;
  width: 100%;
}

.side-menu {
  background-color: #ffffff;
  height: 100%;
  padding: 5px;
  min-width: 190px;
}

.top-menu {
  display: flex;
  div {
    margin-right: 5px;
  }
}

.network-summary {
  margin-top: 8px !important;
  height: 100%;
  overflow-y: scroll;
  overflow-x: none;

  label {
    display: block;
  }

  .detail {
    margin: 5px;
    margin-left: 10px;
  }

  .color-circle {
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin: 5px;
    width: 6px;
  }

  .ui.table {
    background-color: #ffffff;
    border-radius: 0;
    border-right-width: 0;
    border-left-width: 0;
  }
}
.network-summary__header {
  padding: 5px;
  background-color: #ffffff;

  display: flex;
  .ic-Icon {
    margin-top: 2px;
    height: 100%;
  }
}
.network-summary__header-name {
  margin: 0px 5px;

  p {
    font-size: 16px;
    margin: 0;
  }

  .sub-heading {
    color: #8e9494;
    font-size: 12px;
  }
}

.modal {
  height: 100%;
}

.side-info-chart {
  height: 200px;
}

.account-dropdown {
  font-size: 12px;
  margin-bottom: 10px;
}

/* Copied from nr1 Radio */
.radio-group {
  input[type="radio"] {
    background-color: #fafbfb;
    border-radius: 100%;
    border: 1px solid #b9bdbd;
    height: 16px;
    margin-left: 4px;
    margin-right: 8px;
    width: 16px;
  }

  input[type="radio"]:checked {
    background-color: #0079bf;
    border-color: #003555;
  }
}

.horizontal-radio-group {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 4px;
}

label {
  color: #000e0e;
  font-size: 12px;
  line-height: 16px;
  position: relative;
}

.radio-option {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 4px;
}

.checkbox {
  margin-right: 5px;
  -webkit-box-align: center;
  align-items: center;
}
